<body>
  <br>
  <div class="myclass" style="background-color:white;">
    <div class="seconddiv">
      <div class="inner">
        <br>
        <div style="text-align:center">
          <img src="https://d31ebqhycylygn.cloudfront.net/v3/assets/web/logos/logo-h-3f5a5ffaf590a5dcff9ae06f47e7e67f.svg" alt="">
        </div>

        <div class="top">
          <button class="btn1 u-full-width btn-facebook js-btn-facebook">Facebook</button>
          <button class="btn2 u-full-width btn-facebook js-btn-gmail">Google</button><br><br>
          <p style="text-align:center;">or</p>
          <p style="text-align:center;">Log in or sign up with email</p>
          <div class="buttons" style="width:100%">
            <button routerLink="/login" type="button" class="btn btn-outline-success btnl">Log in</button>
            <button routerLink="/signup" type="button" class="btn btn-outline-success btns">Sign up</button>
          </div>
          <p class="end">By signing up you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy.</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- 
<a routerLink="/signup">SignUp</a>
<a routerLink="/login">LogIn</a> -->