<!-- Cover Section -->
<div class="cover container-fluid">
  <div class="content text-center">
    <h1 class="text-center">The convenient & fast way
      <br> to get things done around the house</h1>
    <p class="text-center">Choose from over 50,000 carefully vetted and feedback rated Taskers to get quick help</p>
    <div class="cover-btns">
      <a href="#" class="btn btn-outline-success ">General handyman</a>
      <a href="#" class="btn btn-outline-success">Moving & packing</a>
      <a href="#" class="btn btn-outline-success">Furniture assembly</a>
      <a href="#" class="btn btn-outline-success">Home improvement</a>
      <a href="#" class="btn btn-outline-success">Mounting & intallation</a>
      <a href="#" class="btn btn-outline-success">Yard work</a>
    </div>
    <div class="cover-search">
      <div class="input-group">
        <div class="input-group-addon input-icon">
          <i class="fa fa-search"></i>
        </div>
        <input type="search" class="form-control input" placeholder="Need something different?" />
      </div>
    </div>
  </div>
</div>
<!--End cover  -->

<!--Inspired Section -->
<section class="inspired-section">
  <div>
    <h2 class="text-center">Get Inspired</h2>
    <a href="#">
      <div class="container" style="margin-bottom:30px;">
        <div class="row">
          <div class="col-md-8">
            <img class="col-8-img" alt="inspired image" src="../../assets/home/handyman-featured.jpg" />
          </div>
          <div class="col-md-4">
            <div class="col-4-box text-center">
              <div class="col-4-content">
                <div>Tackle those home projects & repairs you've been putting off</div>
                <button class="btn">Book Handyman</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Carousel Start -->
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider1.jpg" alt="slide1">
                  <div class="card-block text-center">
                    <h4 class="card-title">Mount a TV or mirror</h4>
                    <a href="#" class="btn btn-success">Book Mounting</a>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider2.jpg" alt="slide2">
                  <div class="card-block text-center">
                    <h4 class="card-title">Put together furniture</h4>
                    <a href="#" class="btn btn-success">Book Assembly</a>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider3.jpg" alt="slide3">
                  <div class="card-block text-center">
                    <h4 class="card-title">Put & shift heavy items</h4>
                    <a href="#" class="btn btn-success">Book Help Moving</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider4.jpg" alt="slide1">
                  <div class="card-block text-center">
                    <h4 class="card-title">Get a sparkling home</h4>
                    <a href="#" class="btn btn-success">Book Cleaning</a>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider5.jpg" alt="slide2">
                  <div class="card-block text-center">
                    <h4 class="card-title">Maintain outside spaces</h4>
                    <a href="#" class="btn btn-success">Book Yard Work</a>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider6.jpg" alt="slide3">
                  <div class="card-block text-center">
                    <h4 class="card-title">Make home improvements</h4>
                    <a href="#" class="btn btn-success">Book Minor Repairs</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <!-- <span class="carousel-control-prev-icon"></span> -->
          <i class="fa fa-angle-left arrow" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <!-- <span class="carousel-control-next-icon"></span> -->
          <i class="fa fa-angle-right arrow" aria-hidden="true"></i>
        </a>
      </div>
    <!-- End carousel -->
  </div>
</section>
<!-- End section -->


<!-- Work section -->
<section class="work-section">
  <div class="row text-center">
    <div class="col-12">
      <h2 class="">How It Works</h2>
      <div class="work-content">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <img class="" alt="step-1" src="../../assets/home/step_1.svg" />
            </div>
            <div class="col-8">
              <div class="step-1-content">
                <div>1</div>
                <div>Describe the task</div>
                <div>
                  Choose from a variety of home services and select the day and time you'd like a qualified Tasker to show up. Give us the
                  details and we'll find you the help.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
<!-- End section -->