.img-div{
    width: 60%;
    margin: 0 auto;
}
 .form-content{
    margin-top:15px;    
} 

form{
    background-color: white;
}

 body{
    background-image: url("https://d31ebqhycylygn.cloudfront.net/v3/assets/web/hero_groceries-ba7154fde71c6fa17ace6db2b41f4455.jpg");     background-position: center center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
    margin: 0px;
    padding-top:1px;
} 

label{
    font-weight: 300;
    cursor:pointer;
}
@media only screen and (max-width: 500px){
body{
    transition: opacity .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
}
a{

    text-decoration: none;
}

.text-info{
    color:green !important;
}
.text-info:hover{
    color:green !important;
}
