<div class="body">
  <div class="form-group main">
    <form [formGroup]="fpForm" (ngSubmit)="forgetPswd(fpForm.value)">
      <div class="img-div">
        <img src="https://d31ebqhycylygn.cloudfront.net/v3/assets/web/logos/logo-h-3f5a5ffaf590a5dcff9ae06f47e7e67f.svg" alt="logo"
        />
      </div>
      <div class="form-content text-center">
        <h3>Reset Password</h3>
        <p style="color:#242a30">Enter your email and we’ll send you instructions to reset your password.</p>
        <div class="form-group">
          <input type="text" class="form-control input" placeholder="Enter your email address" formControlName="email" required>
        </div>
        <button class="btn reset-pswd-btn btn-block input" [disabled]="!fpForm.valid">Reset Password</button>
      </div>
    </form>
  </div>
</div>