
<body>
<div class="container container1">
  <div class="row">
    <div class="col--centered col-12 col-lg-8">
      <div class="top">
        <div class="top2">
          <img class="userimg" src="https://res.cloudinary.com/taskrabbit-com/image/upload/c_fill,g_faces,h_50,w_50/v1408385393/default_avatar.jpg"
            alt="">
          <h2 class="h2"><span class="black black1">Welcome to TaskRabbit, Mike!</span></h2>
        </div>

        <div class="search">
          <i class="fa fa-search"></i>
          <input placeholder="What do you need help with?" [(ngModel)]="text">
          <i class="fa fa-times" (click)="clear()" aria-hidden="true"></i>
        </div>
        <!-- <div>
          <a class="search">
            
            <input type="email" class="form-control" id="email">
             <i class="icon-folder-close-alt"></i> 
          </a>
        </div>    -->
      </div>
      <br>
      <br>
      <div class="cont">
        <h2><span class="black">How to Get Started</span></h2>
        <p>
          <span>We’re excited to help! Here’s how it works:
          </span>
        </p>
      </div>


      <div class="cont">
        <div class="dashboard__get-started-icon">
          1
        </div>
        <div class="content">
          <h2 class="dashboard__get-started-title">
            <span>Pick a Task</span>
          </h2>
          <p>
            <span>
            Choose from a list of popular chores and errands
          </span>
          </p>
        </div>
      </div>

      <div class="cont">
        <div class="dashboard__get-started-icon">
          2
        </div>
        <div class="content">

          <h2 class="dashboard__get-started-title">
            <span>Get Matched</span>
          </h2>
          <p>
            <span>
            Choose from a list of popular chores and errands
          </span>
          </p>
        </div>
      </div>

      <div class="cont">
        <div class="dashboard__get-started-icon">
          3
        </div>
        <div class="content">
          <div class="separate">
            <h2 class="dashboard__get-started-title">
              <span>Get it Done</span>
            </h2>
            <p>
              <span>
            Choose from a list of popular chores and errands
          </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="thirdh2">How We Can Help</h2>
<div class="container container2">
  <div class="row">
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-block block1" style='background-image:url("https://res.cloudinary.com/taskrabbit-com/image/upload/v1489003789/lgdyskvi4chfsliqrgta.jpg");'>
          <div class="card-title">Mount a TV or mirror</div>
          <div class="bottom">
            <a href="#" class="btn btn-default">Mounting</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-block block2" style='background-image:url("https://res.cloudinary.com/taskrabbit-com/image/upload/v1489000717/xh4vupe1ftot6zvdewrp.jpg");'>
          <div class="card-title">Put together furniture</div>
          <div class="bottom">
            <a href="#" class="btn">Assembly</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-block block3" style="background-image:url('https://res.cloudinary.com/taskrabbit-com/image/upload/v1489000923/ileirssotvwoepjsotxe.jpg')">
          <div class="card-title">Lift & shift heavy items</div>
          <div class="bottom">
            <a href="#" class="btn btn-default">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row row2">
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-block block1" style='background-image: url("https://res.cloudinary.com/taskrabbit-com/image/upload/v1489001213/egaosrx7106shhsklnse.jpg");'>
          <div class="card-title">Get a sparkling home</div>
          <div class="bottom">
            <!-- <div class="hover"> -->
              <a href="#" class="btn">Cleaning</a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-block block2" style='background-image: url("https://res.cloudinary.com/taskrabbit-com/image/upload/v1489002994/qfa1u6igfuxl7qk1hqzp.jpg")'>
          <div class="card-title">Maintain outside spaces</div>
          <div class="bottom">
            <a href="#" class="btn">Yard Work</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-block block3" style="background-image: url('https://res.cloudinary.com/taskrabbit-com/image/upload/v1489000395/fq7r44d0dth6jmhoejeu.jpg');">
          <div class="card-title">Make home improvements</div>
          <div class="bottom">
            <a href="#" class="btn">Minor Repairs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="footer">
    <div class="sfooter">

      <a class="btn btn-success lbutton">
      <i class="fa fa-heart"></i>
      <span class="text">Visit our Support Center</span>
      </a>
      <span>or call us at 844-340-TASK</span>
    </div>
  </div>

</div>

</body>