<!-- Cover Section -->
<div class="cover container-fluid">
  <div class="content text-center">
    <div class="text-center mh1">The convenient & fast way
      <br> to get things done around the house</div>
    <p class="text-center mp">Choose from over 50,000 carefully vetted and feedback rated Taskers to get quick help</p>
    <div class="cover-btns">
      <a href="#" class="btn btn-outline-success ">General handyman</a>
      <a href="#" class="btn btn-outline-success">Moving & packing</a>
      <a href="#" class="btn btn-outline-success">Furniture assembly</a>
      <div class="hide-a">
        <a href="#" class="btn btn-outline-success">Home improvement</a>
        <a href="#" class="btn btn-outline-success">Mounting & intallation</a>
        <a href="#" class="btn btn-outline-success">Yard work</a>
      </div>
      <div class="cover-search">
        <div class="input-group">
          <div class="input-group-addon input-icon">
            <i class="fa fa-search"></i>
          </div>
          <input type="search" class="form-control input" placeholder="Need something different?" />
        </div>
      </div>
    </div>
  </div>
</div>
<!--End cover  -->

<!-- Inspired Section -->
<section class="inspired-section">
  <div>
    <h2 class="text-center inspired">Get Inspired</h2>
    <a href="#">
      <div class="container get-img" style="margin-bottom:30px;">
        <div class="row">
          <div class="col-md-8">
            <img class="col-8-img" alt="inspired image" src="../../assets/home/handyman-featured.jpg" />
          </div>
          <div class="col-md-4">
            <div class="col-4-box text-center">
              <div class="col-4-content">
                <div>Tackle those home projects & repairs you've been putting off</div>
                <button class="btn">Book Handyman</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Carousel Start -->
    <div id="demo" class="carousel slide carosel-web" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="">
                  <img class="card-img-top" src="../../assets/home/slider1.jpg" alt="slide1">
                  <div class="card-block text-center">
                    <h4 class="card-title">Mount a TV or mirror</h4>
                    <a href="#" class="btn btn-success">Book Mounting</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="card" style="">
                  <img class="card-img-top" src="../../assets/home/slider2.jpg" alt="slide2">
                  <div class="card-block text-center">
                    <h4 class="card-title">Put together furniture</h4>
                    <a href="#" class="btn btn-success">Book Assembly</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="card" style="">
                  <img class="card-img-top" src="../../assets/home/slider3.jpg" alt="slide3">
                  <div class="card-block text-center">
                    <h4 class="card-title">Put & shift heavy items</h4>
                    <a href="#" class="btn btn-success">Book Help Moving</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="">
                  <img class="card-img-top" src="../../assets/home/slider4.jpg" alt="slide1">
                  <div class="card-block text-center">
                    <h4 class="card-title">Get a sparkling home</h4>
                    <a href="#" class="btn btn-success">Book Cleaning</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="card" style="">
                  <img class="card-img-top" src="../../assets/home/slider5.jpg" alt="slide2">
                  <div class="card-block text-center">
                    <h4 class="card-title">Maintain outside spaces</h4>
                    <a href="#" class="btn btn-success">Book Yard Work</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="card" style="">
                  <img class="card-img-top" src="../../assets/home/slider6.jpg" alt="slide3">
                  <div class="card-block text-center">
                    <h4 class="card-title">Make home improvements</h4>
                    <a href="move" class="btn btn-success">Book Minor Repairs</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>



      </div>


      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon"></span> -->
        <i class="fa fa-angle-left arrow" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <!-- <span class="carousel-control-next-icon"></span> -->
        <i class="fa fa-angle-right arrow" aria-hidden="true"></i>
      </a>
    </div>
    <!-- End carousel -->






    <!-- Carousel Start -->
    <div id="demores" class="carousel slide carosel-responsive" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/handyman-featured.jpg" alt="slide2">
                  <div class="card-block text-center">
                    <h4 class="card-title">Tackle Home Projects</h4>
                    <a href="#" class="btn btn-success">Book Handyman</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider1.jpg" alt="slide1">
                  <div class="card-block text-center">
                    <h4 class="card-title">Mount a TV or mirror</h4>
                    <a href="#" class="btn btn-success">Book Mounting</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider2.jpg" alt="slide2">
                  <div class="card-block text-center">
                    <h4 class="card-title">Put together furniture</h4>
                    <a href="#" class="btn btn-success">Book Assembly</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider3.jpg" alt="slide3">
                  <div class="card-block text-center">
                    <h4 class="card-title">Put & shift heavy items</h4>
                    <a href="#" class="btn btn-success">Book Help Moving</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider4.jpg" alt="slide1">
                  <div class="card-block text-center">
                    <h4 class="card-title">Get a sparkling home</h4>
                    <a href="#" class="btn btn-success">Book Cleaning</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider5.jpg" alt="slide2">
                  <div class="card-block text-center">
                    <h4 class="card-title">Maintain outside spaces</h4>
                    <a href="#" class="btn btn-success">Book Yard Work</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="../../assets/home/slider6.jpg" alt="slide3">
                  <div class="card-block text-center">
                    <h4 class="card-title">Make home improvements</h4>
                    <a href="move" class="btn btn-success">Book Minor Repairs</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demores" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon"></span> -->
        <i class="fa fa-angle-left arrow" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#demores" data-slide="next">
        <!-- <span class="carousel-control-next-icon"></span> -->
        <i class="fa fa-angle-right arrow" aria-hidden="true"></i>
      </a>
    </div>
    <!-- End carousel responsive -->
  </div>
</section>
<!-- End section  -->


<!-- Work section -->
<section class="work-section">
  <div class="row text-center">
    <div class="col-12">
      <h2 class="word-font">How It Works</h2>
      <div class="work-content">
        <div class="container container1">
          <div class="row">
            <div class="col-md-4  col-12 firstnumber">
              <img class="img1" alt="step-1" src="../../assets/home/step_1.svg" />
            </div>
            <div class="col-md-8 col-12">
              <div class="step-1-content">
                <div class="number">1</div>
                <br>
                <div class="heading">Describe the task</div>
                <div class="text">
                  Choose from a variety of home services and select the day and time you'd like a qualified Tasker to show up. Give us the
                  details and we'll find you the help.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="work-content">
        <div class="container container1">
          <div class="row">
            <div class="col-md-8 col-12">
              <div class="step-1-content">
                <div class="number">2</div>
                <div class="heading">Get matched</div>
                <div class="text">
                  Select from a list of qualified and fully vetted Taskers for the job. Choose Taskers by their hourly rate and start chatting
                  with them right in the app.
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <img class="imgg" alt="step-1" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/how_it_works/step_2-424a33b8aec382a2db6ce4f77a6ed647.svg"
              />
            </div>
          </div>
        </div>
      </div>


      <div class="work-content">
        <div class="container container1">
          <div class="row">
            <div class="col-md-4 col-12">
              <img class="imgg" alt="step-1" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/how_it_works/step_3-e1953255e222788fbce0ca39f5654449.svg"
              />
            </div>
            <div class="col-md-8 col-12">
              <div class="step-1-content">
                <div class="number">3</div>
                <br>
                <div class="heading">Get it done</div>
                <div class="text">
                  Just like that, your Tasker arrives and gets the job done. When your task is complete, payment will happen seamlessly and
                  securely through the app.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="how-it-work"></div>

      <div class="work-content">
        <div class="container container1 icon-container">
          <div class="row">
            <div class="col-md-2 col-12">
              <img class="icon" alt="step-1" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/how_it_works/pledge-9b7b856de945dd8cc69f6c044191f9c7.svg"
              />
            </div>
            <div class="col-md-10 col-12">
              <div class="step-1-content">
                <div class="heading">The TaskRabbit Happiness Pledge</div>
                <div class="text">
                  Trust and safety are our top priority. All Taskers must undergo extensive background and identity checks, and each task covers
                  up to $1 million in property damage. Always have peace of mind.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</section>

<!-- End section -->

<!-- Carousel Start -->
<div id="demo2" class="carousel slide all-pr" data-ride="carousel">
  <!-- The slideshow -->
  <div class="carousel-inner second-carousel">
    <div class="carousel-item active">
      <div class="container container-lower">
        <div class="col-12">
          <h1 class="lower-h1">Real People, Real Tak</h1>
        </div>
        <div class="row row12">
          <div class="col-md-4 col-12 profileimg">
            <!-- <div class="card" style="width: 22rem;"> -->
            <img class="profile-img" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/testimonials/testimonial-photo-1-22e4d798045f8a28a1bad533c1e9b3f2.jpg"
              alt="slide1">
            <!-- </div> -->
          </div>

          <div class="col-md-8 col-12 makeblock">
            <div class="profile-text same-class">
              Using TaskRabbit to have a new bookcase built was a great choice! Rick did wonderful work with a job that was much bigger
              than we anticipated.
            </div>
            <strong class="same-class col-md-8 col-12">   
            Nadine S.
             </strong>
            <div class="same-class same-class1 col-md-8 col-12">
              San Francisco, CA
            </div>
            <div class="same-class col-md-8 col-12">
              Task:<a class="anchor" href="#">Furniture Assembly</a>
            </div>
          </div>



        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container container-lower">
        <div class="col-12">
          <h1 class="lower-h1">Real People, Real Tak</h1>
        </div>
        <div class="row row12">
          <div class="col-md-4 col-12 profileimg">
            <!-- <div class="card" style="width: 22rem;"> -->
            <img class="profile-img" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/testimonials/testimonial-photo-2-77ea2a23cf94375b9d20b9ea1de2a7a4.jpg"
              alt="slide1">
            <!-- </div> -->
          </div>
          <div class="col-md-8 col-12 makeblock">
            <div class="profile-text same-class">
              I finally have expertly installed shelves and additional storage in my tiny apartment, all thanks to my Tasker.
            </div>
            <strong class="same-class col-md-8 col-12">   
            Kevin S.
             </strong>
            <div class="same-class same-class1 col-md-8 col-12">
              Los Angeles, CA
            </div>
            <div class="same-class col-md-8 col-12">
              Task:<a class="anchor" href="#">Handyman Help</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container container-lower">
        <div class="col-12">
          <h1 class="lower-h1">Real People, Real Tak</h1>
        </div>
        <div class="row row12">
          <div class="col-md-4 col-12 profileimg">
            <!-- <div class="card" style="width: 22rem;"> -->
            <img class="profile-img" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/testimonials/testimonial-photo-3-9d8f0d18fe6304e70c6443107dea93a5.jpg"
              alt="slide1">
            <!-- </div> -->
          </div>

          <div class="col-md-8 col-12 makeblock">
            <div class="profile-text same-class ">
              I'd been agonizing over how to get my new flat screen mounted to my wall. In comes Nick on the same day. He arrived with
              all the tools for the job and was just a super nice guy.
            </div>
            <strong class="same-class col-md-8 col-12">
              Gabrielle K.
            </strong>
            <div class="same-class same-class1 col-md-8 col-12">
              Chicago, IL
            </div>
            <div class="same-class col-md-8 col-12">
              Task:<a class="anchor" href="#">Mounting & Installation</a>
            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container container-lower">
        <div class="col-12">
          <h1 class="lower-h1">Real People, Real Tak</h1>
        </div>
        <div class="row row12">
          <div class="col-md-4 col-12 profileimg">
            <!-- <div class="card" style="width: 22rem;"> -->
            <img class="profile-img" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/testimonials/testimonial-photo-4-6ca7b6d6e54406ba3a23462d42a1c532.jpg"
              alt="slide1">
            <!-- </div> -->
          </div>

          <div class="col-md-8 col-12 makeblock">
            <div class="profile-text same-class">
              TaskRabbit makes moving into your new apartment a 1 hr job instead of 1 day job! Moving my belongings from Manhattan to Queens
              was seamless.
            </div>
            <strong class="same-class col-md-8 col-12">   
            Obinna O.
             </strong>
            <div class="same-class same-class1 col-md-8 col-12">
              NYC, NY
            </div>
            <div class="same-class col-md-8 col-12">
              Task:<a class="anchor" href="#">Moving Help</a>
            </div>
          </div>



        </div>
      </div>
    </div>
    <!-- Left and right controls -->

    <div class="makehidden">
      <a class="carousel-control-prev" href="#demo2" data-slide="prev">
         <span class="carousel-control-prev-icon"></span> 
        <i class="fa fa-angle-left arrow" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#demo2" data-slide="next">
         <span class="carousel-control-next-icon"></span> 
        <i class="fa fa-angle-right arrow" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>


<div class="single-pr">
  <div class="container">
    <div class="col-12">
      <h1 class="lower-h1">Real People, Real Tak</h1>
    </div>
    <div class="row row12">
      <div class="col-md-4 col-12 profileimg">
        <!-- <div class="card" style="width: 22rem;"> -->
        <img class="profile-img" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/testimonials/testimonial-photo-1-22e4d798045f8a28a1bad533c1e9b3f2.jpg"
          alt="slide1">
        <!-- </div> -->
      </div>

      <div class="col-md-8 col-12 makeblock">
        <div class="profile-text same-class">
          Using TaskRabbit to have a new bookcase built was a great choice! Rick did wonderful work with a job that was much bigger
          than we anticipated.
        </div>
        <strong class="same-class col-md-8 col-12">   
            Nadine S.
             </strong>
        <div class="same-class col-md-8 col-12">
          San Francisco, CA
        </div>
        <div class="same-class col-md-8 col-12">
          Task:<a class="anchor" href="#">Furniture Assembly</a>
        </div>
      </div>



    </div>
  </div>
</div>



<div class="small-images">
  <!-- <div class="img img1"> -->
  <img class="small" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/publications/brit-co-ae33fbc2df719a58dc4c58b8c01da328.svg"
    alt="">
  <!-- </div> -->
  <!-- <div class="img img2"> -->
  <img class="small" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/publications/apartment-therapy-57ac9614526e50b9c502d83a0db832af.svg"
    alt="">
  <!-- </div> -->
  <!-- <div class=" img img1"> -->
  <img class="small" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/publications/marie-claire-e179ee6f7d6a933cf8406ecd32b781a8.svg"
    alt="">
  <!-- </div> -->
  <!-- <div class="img img1"> -->
  <img class="small" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/static/homepage/publications/refinery-29-7f412f6da93cbefc275c9827fd374fca.svg"
    alt="">
  <!-- </div> -->
</div>

<!-- End carousel -->



<div class="work-content-last">
  <div class="container container1 containerlast icon-container">
    <div class="row row-padding row-last">
      <div class="col-4">
        <div class="mobile-photo">

        </div>
      </div>
      <div class="col-md-8 col-12">
        <div class="step-last-content">
          <h2 class="change-font">Easily book and manage tasks in our app</h2>
          <div class="buttons">
            <a href="">
          <img class="app-store" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/web/icons/appstore_badge-b38296811f274beb5cf9e8811fd0ea73.svg" alt="">
        </a>
            <a href="">
          <img class="googlep" src="https://d31ebqhycylygn.cloudfront.net/v3/assets/web/icons/google_play_badge-f22ef50734324ff62305edcefa657fc0.svg" alt="">
        </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cover Section -->
<div class="container-fluid">
  <div class="content text-center">
    <h1 class="text-center get-help">Get Help Today</h1>
    <div class="cover-btns btn-last">
      <a href="#" class="btn btn-outline-success ">Minor home repair</a>
      <a href="#" class="btn btn-outline-success">Mounting & installation</a>
      <a href="#" class="btn btn-outline-success">Furniture assembly</a>
      <a href="#" class="btn btn-outline-success">Moving & packing</a>
      <a href="#" class="btn btn-outline-success">Housecleaning</a>
      <a href="#" class="btn btn-outline-success">Yard work</a>
      <a href="#" class="btn btn-outline-success">Home improvement</a>
    </div>
    <div class="cover-search">
      <div class="input-group">
        <div class="input-group-addon input-icon">
          <i class="fa fa-search"></i>
        </div>
        <input type="search" class="form-control input" placeholder="Need something different?" />
      </div>
    </div>
  </div>
</div>
<!--End cover  -->
















